version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: eco-books-db
    environment:
      MYSQL_ROOT_PASSWORD: MySQL
      MYSQL_DATABASE: eco_books
    ports:
      - "3307:3306"  
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-pMySQL"]
      interval: 5s
      timeout: 3s
      retries: 15
    networks:
      - app-network

  datadog-agent:
    image: gcr.io/datadoghq/agent:7
    container_name: datadog-agent
    environment:
      DD_API_KEY: c5e8b6d5eabada11131032ed7b1fa407
      DD_SITE: datadoghq.com
      DD_APM_ENABLED: "true"
      DD_APM_NON_LOCAL_TRAFFIC: "true"
      DD_LOGS_ENABLED: "true"
      DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL: "true"
      DD_PROCESS_AGENT_ENABLED: "true"
      DD_DOGSTATSD_NON_LOCAL_TRAFFIC: "true"
      DD_TAGS: "env:development team:ecobooks"
    ports:
      - "8126:8126"
      - "8125:8125/udp"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc/:/host/proc/:ro
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
    networks:
      - app-network


  backend:
    build: .
    container_name: eco-books-backend
    ports:
      - "3000:3000"  
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: eco_books
      DB_USER: root
      DB_PASS: MySQL
      APP_PORT: 3000
      FRONTEND_URL: http://localhost:3001
      JWT_SECRET: cambialo_por_un_secreto_largo
      JWT_EXPIRES: 1h
      NODE_ENV: development
      SEED_DB: "true"
      DD_TRACE_ENABLED: "true"
      DD_SERVICE: eco-books-backend
      DD_ENV: development
      DD_VERSION: 1.0.0
      DD_AGENT_HOST: datadog-agent
      DD_TRACE_AGENT_PORT: 8126
      DD_TRACE_SAMPLE_RATE: 1.0
      DD_LOGS_INJECTION: "true"
      DD_RUNTIME_METRICS_ENABLED: "true"
      DD_PROFILING_ENABLED: "true"
    depends_on:
      db:
        condition: service_healthy
      datadog-agent:
        condition: service_started
    volumes:
      - .:/app
      - /app/node_modules
    command: >
      sh -lc "npx sequelize-cli db:migrate &&
              if [ \"$$SEED_DB\" = \"true\" ]; then npx sequelize-cli db:seed:all; fi &&
              npm start"
    networks:
      - app-network


  frontend:
    image: node:22
    container_name: eco-books-frontend
    working_dir: /app
    command: sh -c "npm install && npm run dev -- -H 0.0.0.0"
    ports:
      - "3001:3000"  
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_API=http://localhost:3000
    depends_on:
      - backend
    volumes:
      - ../eco-books-frontend:/app   
      - /app/node_modules
      - /app/.next
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
